{% extends 'base.html' %}
{% load static %}


{% block title %}
Home
{% endblock %}

{% block banner %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1 class="display-4">Welcome!</h1></center>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="card" style="width: 18rem;">
  <img src="{% static 'images/us1.png'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Meet my girlfriend!</h5>
    <p class="card-text">Vidya is a kundi... the biggest kundi there is in the world.... olan kuttan kuttan olan</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}
